@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-primary-50: oklch(97% 0.014 254.604);
  --color-primary-500: oklch(62.3% 0.214 259.815);
  --color-primary-600: oklch(54.6% 0.245 262.881);
  --color-primary-700: oklch(48.8% 0.243 264.376);
  
  --color-danger-500: #ef4444;
  --color-success-500: #22c55e;

  --font-sans: 'Inter', sans-serif;
  
  --radius-app: 0.50rem;
}

:root, [data-theme="light"] {
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-secondary: oklch(60% 0.01 250); 

  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  

  --color-success: #22c55e;
  --color-error: #ef4444;

  --radius-selector: var(--radius-app);
  --radius-field: var(--radius-app);
  --radius-box: var(--radius-app);
}
